.venv-gemini-3/
.venv/
venv/

**/__pycache__/
*.py[cod]
*.pyo



Backend/Documentos Nexus/
**/Documentos Nexus/
**/Wallet_Metricas/
**/salida_procesamiento/
**/pruebas/
**/temporales/
**/chroma_store/
*.sqlite3
*.db
*.oci-etag
*.oci-download

.env*
/my_keys.py
!Backend/modelos/my_keys.py

.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
.ipynb_checkpoints/
*.log